{% load static %}
{% load bootstrap5 %}
{% bootstrap_css %}
{%bootstrap_javascript%}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Label</title>
    <!-- fonts  -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <!-- bootstrap links  -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'styles/label.css'%}">
    <script src="{% static 'js/index.js' %}"></script>

</head>
<body>
       <!-- navbar  -->
       <nav class="navbar">
        <div class="navbar-overlay" onclick="toggleMenuOpen()"></div>
        <button type="button" class="navbar-burger" onclick="toggleMenuOpen()">
            <span class="material-icons">menu</span>
        </button>
        <h1 class="navbar-title ">Awards</h1>
        <nav class="navbar-menu">
            <button class="text-light  link-underline link-underline-opacity-0" type="button"><a class=" text-light"
                    href="{% url 'home'%}">Home</a></button>
            <button class="text-light  link-underline link-underline-opacity-0" type="button"><a class=" text-light"
                    href="{% url 'blog'%}"> Blog</a></button>

        </nav>
    </nav>
    <!-- /navbar  -->

    <div class="w-100 mt-5 text-center">
        <h1 class=" text1">
            {{label_name.title_label }}
        </h1>
    </div>

    <div class="container mt-5">
        <div class="row">
            {% for i in data %}
                <div class=" col-12 col-md-4 col-sm-12 col-lg-4 mt-3">
                    <div class="d-block text-center justify-content-center align-content-center">
                        <img src="{{i.photo.url}}" style="height: 450px;border-radius: 20px;"
                            class="img-fluid  w-100" alt="" srcset="">
                        <a  href="{%url 'label' label_text=i.label%}">
                            <p style="width: fit-content;  border-radius: 18px;"
                            class="text-light p-2 bg-dark text-center mt-3">
                            {{i.label}}</p>
                        </a>
                        

                        <a style="text-decoration: none;" href="{% url 'post' posts_pk=i.pk %}">
                            <h3 class="mt-3 text-center  text-light ">
                                {{i.title}}
                            </h3>
                        </a>
                        <a style="text-decoration: none;" href="{% url 'post' posts_pk=i.pk %}">
                            <button class="btn btn-outline-light mt-3  w-75 text-light"> Read </button>
                        </a>
                    </div>



                </div>
            {% endfor %}
        </div>
    </div>
    <script src="{% static 'js/index.js' %}"></script>
</body>
</html>